:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-gray: #464646;
    --color-dark-gray: #1f1f1f;
    --color-light-gray: #a2a2a2;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.header {
    width: 100%;
    height: 160px;
    display: flex;
    align-content: center;
    gap: 25px;
    padding-inline: 50px;
    margin-bottom: 25px;
}

.header-title {
    font-size: 40px;
}

.main {
    padding-inline: 175px;
}

.main-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 36px;
    height: 595px;

}

.main-title {
    padding-inline: 36px;
    font-size: 48px;
}

.main-container {
    width: 100%;
    background-color: var(--color-dark-gray);
    height: 100%;
}